
:root {
  --offset: 6px;
}

.mask {
  height: 200px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  font-size: large;
  padding-bottom: var(--offset);

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}


/* //video hero css */



@media only screen and (min-width: 1000px){

.hero-section {
  
  align-items: center;
  justify-content: 'center';
  min-height: '80vh';
  width: 100%;

}
.hero-section .hero-video {
  max-width: fit-content;
  width: 100%;
}

.hero-section .hero-row {
  display: flex;
  flex-direction: row;
  padding: 4rem 4rem;
  
}

.hero-section .hero-row .hero-content {
 
  margin: 50px 80px 0px 20px;
  width: 40%;
  max-width: 40%;
  text-align: start;
 
}
.hero-section .hero-row .hero-content h3{
  text-align: start;
 
}

.hero-section .hero-row .hero-content button{
  align-self: center;
  display: inline-flex;
  margin: 5px ;
}
.hero-section .hero-row .hero-img{
  max-width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero-section .hero-row .hero-img img{
  width: 80%;

 margin-bottom: 100px;

}
.hero-section .hero-row .hero-content h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  }
.hero-section .hero-row .hero-content h3{
font-size: 1.5rem;
margin-bottom: 1rem;
color: #454343E1;
}
}


/* for media screen mobile */
@media (min-width: 576px) and (max-width: 767.98px) {

  .hero-section {
   
    align-items: center;
    justify-content: 'center';
    min-height: '80vh';

  }
  .hero-section .hero-video {
    max-width: fit-content;
    width: 100%;
  }

  .hero-section .hero-row {
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;

  }

  .hero-section .hero-row .hero-content {
    max-width: 100%;
    margin: 5px 20px;
    height: auto;
   
  }
  .hero-section .hero-row .hero-content h3{
    margin: -10px 0px 20px 0px;
float: left;
    color:#0a0a0a
  }

  .hero-section .hero-row .hero-content button{
    align-self: center;
    display: inline-flex;

  }

  .hero-section .hero-row .hero-img {
    flex: 2;
    display: 'flex';
    flex-direction: row-reverse;
    align-items: 'center';
    justify-content: 'center';
    height: "auto";
    position: "relative";
    padding: 5;
  }
  .hero-section .hero-row .hero-img img{
    width: 100%;
   
    height: auto;
    overflow: hidden;
  }


}




/* //screen sizes */


@media (max-width: 575.98px) {
  /* CSS rules for extra small devices (phones) */
  .hero-section {
   
    align-items: center;
    justify-content: 'center';
    min-height: '80vh';

  }
  .hero-section .hero-video {
    max-width: fit-content;
    width: 100%;
  }

  .hero-section .hero-row {
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;

  }

  .hero-section .hero-row .hero-content {
    max-width: 100%;
    margin: 5px 20px;
    height: auto;
    text-align: center;
  }

  .hero-section .hero-row .hero-img img{
    width: auto;
    }
    .hero-section .hero-row .hero-content {
      max-width: 100%;
      height: auto;
      text-align: center;
    }
    .hero-section .hero-row .hero-content h3{
      height: auto;
      text-align: center;
      color:#0a0a0a
    }
  .hero-section .hero-row .hero-content button{
    align-self: center;
    display: inline-flex;
    margin: 10px;
  
  }

  .hero-section .hero-row .hero-img {
    flex: 2;
    display: 'flex';
    flex-direction: row-reverse;
    align-items: 'center';
    justify-content: 'center';
    height: "auto";
    position: "relative";
    padding: 5;
  }
  .hero-section .hero-row .hero-img img{
    width: 100%;
    height: auto;
    overflow: hidden;
  }

}



@media (min-width: 768px) and (max-width: 999px) {
  /* CSS rules for medium devices (laptops and small desktops) */
  .hero-section {
   
    align-items: center;
    justify-content: 'center';
    min-height: '80vh';

  }
  .hero-section .hero-video {
    max-width: fit-content;
    width: 100%;
  }

  .hero-section .hero-row {
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;

  }

  .hero-section .hero-row .hero-img img{
  width: auto;
  height: 50px;
  }
  .hero-section .hero-row .hero-content {
    max-width: 100%;
    margin: 5px 20px;
    height: auto;
    text-align: center;
  }
  .hero-section .hero-row .hero-content h3{
    margin: -10px 20px 10px 20px ;
    height: auto;
    text-align: center;
    color:#0a0a0a
  }
  .hero-section .hero-row .hero-content button{
    align-self: center;
    display: inline-flex;
    margin: 10px;
  
  }

  .hero-section .hero-row .hero-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-section .hero-row .hero-img img{
    width: 85%;
    height: auto;
  }
}

