@media (min-width: 300px) and (max-width: 650px) {


    .cat_row {
        margin: 30px 0px 50px;
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .cat_row .col-1 {
        margin: 0px;
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat_row .col-1 img {
        width: auto;
        display: flex;
        height: 100%;
        margin-right: -40px;
    }

    .cat_row .col-2 {
        visibility: hidden;
        background-color: #1876d3;
        border: 5px solid #1876d3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        width: 1%;

    }

    .cat_row .col-2 p,
    li {
        color: #fafafa;
        text-align: justify;
    }

    .cat_row .col-2 h2,
    h3 {
        color: #fafafa;
        text-align: center;
    }


    .cat_row .col-3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: auto;
    }


    .cat_row .col-3 .items {

        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        margin: 2%;

    }

    .cat_row .col-3 .items img {
        height: auto;
        width: 60%;
        border-radius: 8px;

    }

    .cat_row .col-3 .items img:hover {
        transform: scale(1.05);
        transition: transform 0.5s;
    }

    .cat_row .col-3 .items h3 {
        height: auto;
        width: auto;
        margin: 0px 0px;
        color: #0a0a0a;
    }
}

@media (min-width: 650.1px) and (max-width: 768.9px) {

    .cat_row {
        margin: 50px 10px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;


    }

    .cat_row .col-1 {
        margin: 0px;
        width: 35%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cat_row .col-1 img {
        width: auto;
        display: flex;
        height: 100%;
        margin-left: -10px;
    }

    .cat_row .col-2 {
        background-color: #1876d3;
        border: 2px solid #1876d3;
        border-radius: 10px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 5px 20px;


    }

    .cat_row .col-2 p,
    li {
        color: #fafafa;
        text-align: justify;
        margin: auto;
    }

    .cat_row .col-2 h2,
    h3 {
        color: #fafafa;
        text-align: center;
    }


    .cat_row .col-3 {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .cat_row .col-3 h2 {
        display: none;
    }

    .cat_row .col-3 .items {
        margin-bottom: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;


    }

    .cat_row .col-3 .items img {
        height: auto;
        width: 75%;
        border-radius: 8px;

    }

    .cat_row .col-3 .items img:hover {
        transform: scale(1.05);
        transition: transform 0.5s;
    }

    .cat_row .col-3 .items h3 {
        height: auto;
        width: auto;
        margin: 5px 0px;
        color: #0a0a0a;
    }
}


@media (min-width: 769px) and (max-width: 1200px) {

    .cat_row {
        margin: 50px 10px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;


    }

    .cat_row .col-1 {
        margin: 0px;
        width: 35%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cat_row .col-1 img {
        width: auto;
        display: flex;
        height: 100%;
        margin-left: -10px;
    }

    .cat_row .col-2 {
        background-color: #1876d3;
        border: 5px solid #1876d3;
        border-radius: 10px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 5px 20px;


    }

    .cat_row .col-2 p,
    li {
        color: #fafafa;
        text-align: justify;
    }

    .cat_row .col-2 h2,
    h3 {
        color: #fafafa;
        text-align: center;
    }


    .cat_row .col-3 {
        width: 30%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cat_row .col-3 h2 {
        display: none;
    }

    .cat_row .col-3 .items {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 33%;

    }

    .cat_row .col-3 .items img {
        height: 110px;
        width: auto;
        border-radius: 8px;

    }

    .cat_row .col-3 .items img:hover {
        transform: scale(1.05);
        transition: transform 0.5s;
    }

    .cat_row .col-3 .items h3 {
        height: auto;
        width: auto;
        margin: 5px 0px;
        color: #0a0a0a;
    }
}


@media only screen and (min-width:1200.1px) {
    .cat_section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        max-height: 500px;
    }

    .cat_section .cat_row {
        margin-top: 00px;
        width: 100%;
        height: 470px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1500px;

    }

    .cat_section .cat_row .col-1 {
        margin: 0px;
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat_section .cat_row .col-1 img {
        width: auto;
        display: flex;
        height: 105%;
        margin-right: -90px;
    }

    .cat_section .cat_row .col-2 {
        background-color: #1876d3;
        border: 5px solid #1876d3;
        border-radius: 10px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 5px 20px;

    }

    .cat_section .cat_row .col-2 p,
    li {
        color: #fafafa;
        text-align: justify;
        margin: 8px 0px;
    }

    .cat_section .cat_row .col-2 h2,
    h3 {
        color: #fafafa;
        text-align: center;
        margin: 5px 0px;
    }


    .cat_section .cat_row .col-3 {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-right: 100px;


    }

    .cat_section .cat_row .col-3 .items {

        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        margin: 2%;

    }

    .cat_section .cat_row .col-3 .items img {
        height: auto;
        width: 30%;
        margin: 0px 0px 0px 50px;

        border-radius: 8px;

    }

    .cat_section .cat_row .col-3 .items img:hover {
        transform: scale(1.05);
        transition: transform 0.5s;
    }

    .cat_section .cat_row .col-3 .items h3 {
        height: auto;
        width: 30%;
        margin: 0px 0px;
        color: #0a0a0a;
    }
}